.allProductPage-title {
  margin: 40px 0;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}
.AllProductsAndFilters {
  display: flex;
  margin-top: 20px;
  margin: 40px 0;
}
#allProducts, .allProducts {
  display: flex;
  flex-wrap: wrap;
  width: 1100px; /* изменила */
  justify-content: space-evenly;
}
/* изменила */
.allProducts-card {
  display: grid;
  grid-template-rows: 70px 200px 40px 30px; /* изменила */
  padding: 20px 30px; /* изменила */
  width: 250px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15); /* изменила */
  border-radius: 10px;
}
._mod_size {
  width: 300px;
}
.allProducts-card:hover {
  transform: scale(1.02); /* изменила */
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%); /* изменила */
  cursor: pointer;
}
.allProductName {
  font-family: 'Inter', sans-serif;
  font-size: 18px; /* изменила */
  line-height: 24px; /* изменила */
  margin: 10px;
  text-transform: uppercase;
}
.allProductImg {
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  max-height: 200px; /* изменила */
}
.allProductPrice {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;  /* изменила */
  line-height: 18px;  /* изменила */
  margin-top: 20px; /* изменила */
}
.allProductAvailability {
  font-size: 15px; /* изменила */
  line-height: 18px; /* изменила */
  margin: 10px 0;
  color: green;
}
.allProduct_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;  /* изменила */
  line-height: 18px;  /* изменила */
  text-transform: uppercase;
  padding: 10px 40px;
  border: 1px solid #6e9c9f; /* изменила */
  background: #6e9c9f; /* изменила */
  margin: 10px 0px;
  color: #ffffff; /* изменила */
  border-radius: 5px;
}
.allProduct_btn:hover {
  background-color: #579763; /* изменила */
  color: #ffffff; /* изменила */
  border: 1px solid #579763; /* изменила */
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  cursor: pointer;
}
#filters {
  display: block;
  width: 200px;
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 10px;
}
.filters-productType__title {
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0;
  text-align: start;
}
.filters-productType-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 10px;
  border-bottom: 1px solid #579763;
}
.filters-form__label {
  font-size: 20px;
  line-height: 25px;
}

