/* .body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 1600px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  background-color: #ffffff;
} */
.oneItem-header {
  color: #000000;
  padding-top: 70px;
  padding-bottom: 100px;
}
.title {
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  margin: 0;
}
.oneItem-header__breadcrumbs {
  display: flex;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  list-style-type: none;
  padding-inline-start: 0;
}
.oneItem-header__breadcrumbs-li {
  padding-right: 13px;
  border-bottom: 1px solid none;
}
.oneItem-header__breadcrumbs-li::after {
  content: "—";
  margin-left: 10px;
}
.oneItem-header__breadcrumbs-li:last-child::after {
  content: none;
}
.oneItem-header__breadcrumbs-li:hover {
  color: #6e9c9f;
  cursor: pointer;
  border-bottom: 1px solid #579763;
}
.oneItem-information {
  display: flex;
  margin-bottom: 20px;
}
.oneItem-information__img {
  width: 535px;
  height: 729px;
}
.oneItem-informationDiv {
  padding-left: 74px;
  padding-top: 117px;
}
.oneItem-information__price {
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #998e78;
}
.oneItem-information__feature {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  list-style-type: square;
}
.buy {
  display: flex;
}
.buy__amount {
  text-align: center;
  margin: 0;
  width: 66px;
  height: 66px;
  border: 1px solid #579763;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.button {
  width: 268px;
  height: 68px;
  background: #6e9c9f;
  margin-left: 11px;
  font-size: 22px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
}
.button:hover {
  background-color: #f8f9fa;
  color: #6e9c9f;
  border: 1px solid #579763;
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  cursor: pointer;
}
.response {
  padding-top: 20px;
}
.response-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
#responsiveName {
  font-size: 40px;
  letter-spacing: 0.02em;
  margin: 10px 0 0 0;
}
#responsiveRating {
  grid-column-start: 1;
  grid-column-end: -1;
}
#responsiveContent {
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 20px;
}
#responsiveDate {
  text-align: end;
}
.oneResponsive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (3, max-content);
  padding: 15px;
  background: rgb(248, 249, 250);
  border-radius: 7px;
  border: 1px solid #6e9c9f;
}
.response-header {
  display: flex;
  justify-content: space-between;
}
#rating {
  font-size: 40px;
  letter-spacing: 0.02em;
}
