.container_slim {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  width: 1100px;
  margin: 0 auto;
  background-color: #ffffff;
}
.oneItem-header {
  color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.oneItem-title {
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  margin: 0;
}
.oneItem-header__breadcrumbs {
  display: flex;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 20px;
  margin-left: 25px;
  text-transform: uppercase;
}
.oneItem-header__breadcrumbs-li {
  padding-right: 13px;
  border-bottom: 1px solid none;
}
.oneItem-header__breadcrumbs-li::after {
  content: "—";
  margin-left: 10px;
}
.oneItem-header__breadcrumbs-li:last-child::after {
  content: none;
}
.oneItem-header__breadcrumbs-li:hover {
  color: #6e9c9f;
  cursor: pointer;
}
.oneItem-information {
  display: flex;
  margin-bottom: 20px;
}
.oneItem-information__img {
  width: 535px;
}
#oneItem {
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
.oneItem-informationDiv {
  padding-left: 74px;
  padding-top: 117px;
}
.oneItem-information__price {
  font-family: "Inter";
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: black;
  font-weight: 400;
  margin-bottom: 25px;
}
.oneItem-information__feature {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.02em;
  list-style-type: square;
  list-style-type: none;
  text-align: start;
  margin-bottom: 20px;
}
#allPhoto {
  display: flex;
  height: 150px;
  justify-content: space-around;
  margin-top: 15px;
}
.oneItem__allPhoto {
  width: 150px;
  object-fit: contain;
  cursor: pointer;
}
.oneItem__allPhoto:hover {
  transform: scale(1.2);
  transition: transform 0.25s;
}
.buy {
  display: flex;
}
.buy__amount {
  text-align: center;
  margin: 0;
  width: 66px;
  height: 66px;
  border: 1px solid #6e9c9f;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.buy__amount:hover {
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
.buy__amount:focus {
  outline: 0;
  outline-offset: 0;
}
.button {
  width: 268px;
  height: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 40px;
  border: 1px solid #6e9c9f;
  background: #6e9c9f;
  margin-left: 20px;
  color: #ffffff;
  border-radius: 5px;
}
.button:hover {
  background-color: #f8f9fa;
  color: #6e9c9f;
  border: 1px solid #579763;
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  cursor: pointer;
}
.response {
  padding: 20px;
  margin-top: 50px;
}
.response-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
#responsiveName {
  font-size: 40px;
  letter-spacing: 0.02em;
  margin: 10px 0 0 0;
}
#responsiveRating {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 10px 0;
}
#responsiveContent {
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 20px;
}
#responsiveDate {
  text-align: end;
}
.oneResponsive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px max-content;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #6e9c9f;
  text-align: start;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.response-header {
  display: flex;
  justify-content: space-between;
}
#rating {
  font-size: 40px;
  letter-spacing: 0.02em;
  margin-top: 30px;
  text-align: right;
}
