* {
    box-sizing: border-box;
}
img {
    object-fit: cover;
    max-width: 100%;
    max-height: 400px;
}
body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;  
}

.container {
    width: 1350px;
    margin: 0 auto;
    padding: 0 40px;
}
.title_block {
    margin: 40px 0 10px;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
}
.info_title {
    width: 60%;
    margin: 10px auto;
}
.info_title_mod {
    font-family: 'Inter';
    width: 60%;
    margin: 10px auto;
    font-size: 20px;
    text-transform: uppercase;
}
main {
    margin-top: 110px;
}

/* header */
.header_block {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.header_logo {
    cursor: pointer;
}
.nav_list {
    display: flex;
    gap: 35px;
    position: relative;
}
.nav_list li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.nav_list li:hover, .nav_list li:focus {
    color: #6E9C9F;
    cursor: pointer;
}

#user_page:hover, #user_page:focus,
#user_basket:hover, #user_basket:focus {
    fill: #6E9C9F;
    cursor: pointer;
}
.user_block {
    display: flex;
    gap: 20px;
}
.menu_item {
    display: none;
    position: absolute;
    top: 120%;
    left: 52%;
    transform: translate3d(0px, 0px, 0px);
    padding: 20px 12px;
    width: 200px;
    text-align: left;
    background-color: rgb(248, 249, 250, 0.9);
    z-index: 10;
}
.menu_item li {
   padding: 10px 5px;
    
}
.menu_item li:hover {
 background-color: rgb(220, 229, 226, 0.5);
}
#up, #down {
    width: 10px;
    fill: #6E9C9F;
}


/* Slider */
.slider_block {
    margin: 0 auto;
    width: 1200px;
}
.slider_shadow {
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}

.slider {
    max-height: 400px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    margin: 30px 0;
    
}
.slider_set {
    display: flex;
    justify-content: space-between;
}
.slider_one {
    background: #DCE5E2;
    padding: 0 40px;
}

.slider_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 50%;
    padding: 30px;
    text-align: left;
}
.slider_text h1{
    font-size: 45px;
    line-height: 55px;
    text-align: left;
}
.slider_text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.slider_btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 14px 53px;
    border: 1px solid #717171;
    border-radius: 50px;
    background: none;
}
.slider_btn:hover, .card_btn:hover {
    background-color: #F8F9FA;
    color:#6E9C9F;
    border: 1px solid #579763;
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
    cursor: pointer;
   
}
#btn_previous, .btn_next {
    cursor: pointer;
    stroke:#000000;
}
#btn_previous:hover, .btn_next:hover {
    cursor: pointer;
    stroke:#579763;
}
/* category_block */

.category_one {
    grid-area: one;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.category_two {
    grid-area: two;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.category_three {
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.category_four {
    grid-area: four;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.category_one:hover, .category_two:hover,
.category_three:hover, .category_four:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
    cursor: pointer;
}
.category_list {
    display: grid;
    grid-template-areas: "one one two three"
                         "one one two three"
                         "four four two three";
    gap: 30px;
    margin: 50px 0;                     
}
.category_name {
    font-family: 'Inter';
    font-size: 15px;
    line-height: 19px;
}
.category_title {
    font-size: 32px;
    line-height: 38px;
}
.category_text {
    margin: 20px;
    text-align: center;
}
.text_right {
    text-align: right;
}
/* prodact_card */
.cards {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}
.prodact_card {
    padding: 20px 0;
    width: 300px;
}
.prodact_card_mod {
    display: grid;
    grid-template-rows: 300px 140px;
    padding: 20px;
    width: 310px;
    margin-bottom: 15px;
    align-items: center;
}
.prodact_card:hover, .prodact_card_mod:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    cursor: pointer; 
}
.prodact_text {
    margin-top: 10px;
    display: grid;
    flex-direction: column;
    justify-content: flex-end;
    grid-template-rows: 70px 60px 30px;
    align-items: center;
}
.prodact_img {
    max-height: 215px;
}
.prodact_img img {
    max-height: 230px;
}
.prodact_name {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 24px;
    margin: 10px;
    text-transform: uppercase;
}
.prodact_about {
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 18px;
    width: 80%;
    
}
.prodact_price {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
    color: rgb(237 37 37);
}
/* best price */ 
.card_btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 10px 63px;
    border: 1px solid #717171;
    border-radius: 50px;
    background: none;
    margin: 30px 0;
}
.price {
    padding: 30px;
    background: #F8F9FA;
    border-radius: 16px;
    width: 360px;
}
.price_card {
    justify-content: space-evenly;
    margin: 40px 0;
}
.footer {
    background: #F8F9FA;
    padding: 50px;
}
.footer_col {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.logo_footer, .footer_list {
    max-width: 300px;
}
.logo_about {
    font-size: 16px;
    line-height: 19px;
    margin: 18px auto;
}
.list_title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}
.list li, .fooret_list li {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 15px;
}
.list li:hover, .tel:hover, .mail:hover, .fooret_list li:hover {
    color: #6E9C9F;
    cursor: pointer;
}

.tel, .mail {
    display: block;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #000000;
}
.footer_link {
    margin-right: 20px;
}
.footer_link img:hover {
    transform: scale(1.2);
}
.footer_link img {
    width: 25px;
}
.visa {
    display: block;
    margin: 20px 0;
}
.hidden {
    display: none;
}
.active_mod {
    display: inline-block;
}
.active {
    visibility: block;
}
.active_menu {
    display: block;
}

/* categories_card */
.categories_card {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    gap: 12px;
}
.oneItem-header_modCat {
    padding: 0;
    margin: 0;
}
/* category */
.category_btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.ascending, .descending {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid #717171;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}

.ascending:hover, .descending:hover {
    border: 1px solid  #579763;
    color:  #579763;
}
.activ_btn_sort {
    border: 1px solid  #579763;
    color:  #579763;
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
/* about */
.about_block {
    position: relative;
    margin-bottom: 100px;
}
.about_text {
    padding: 130px 50px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    background-color: #F8F9FA;
    text-align: left;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
.about_text h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.about_text p {
    width: 50%;
}
.about_img {
    position: absolute;
    right: -10%;
    top: 100px;
    width: 50%;
}
.name_logo {
    font-weight: 600;
    color: #579763;
    text-transform: uppercase;
}

/* contacts */
.contacts-block {
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding-bottom: 100px;
}
.contacts-block_form {
    width: 50%;
    background-color: #f5f5fa;
    border-radius: 10px;
    padding: 30px;
  }
  .contacts-block_form h2 {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }
  .contacts-block_form input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    position: relative;
  }
  .contacts-block_form input::placeholder {
    color: #B3B3BA;
    position: absolute;
    left: 15px;
    font-size: 14px;
    line-height: 16px;
  }
  .contacts-block_form input:focus-visible {
    outline: 1px solid #6E9C9F;
  }
  .contacts-block_form h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #B3B3BA;
    padding-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .contacts-block_form .btn-accent {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 18px;
    width: 100%;
    background: #6E9C9F;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  .contacts-block_form .btn-accent:hover,
  .contacts-block_form .btn-accent:focus {
    background: #579763;
  }
  .contacts-block_form .btn-accent:active {
    background: #579763;
  }
  #message {
    min-height: 130px;
  }
  .contacts-block_adress {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

/* личный кабинет */

.personal_page_block {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    min-height: 500px;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    margin: 50px 0;
}
.orders_block_info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #B3B3BA;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;
}
.orders_block {
    text-align: left;
    width: 60%;
}

.orders_block h2,
.person_info_block h2,
.orders_details h2 {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0;
    text-transform: uppercase;
    color: #579763;
    margin-bottom: 40px;
}
.orders_details h2 {
    margin-top: 50px;
    margin-bottom: 0;

}
.order_contacts {
    color: #717171;
    font-size: 12px;
}
.order_info {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    width: 18%;
}
.order_svg svg {
    width: 18px;
    fill: #6E9C9F;
}
.order_done {
    width: 10%;
    color: #579763;
    font-weight: 600;
    text-align: center;
}
.btn_delete, .order_svg {
    width: 10%;
    text-align: center;
    cursor: pointer;
    padding: 15px 0;
}
.btn_delete svg {
    width: 18px;
    fill: rgb(237 37 37);
    pointer-events: all;
}
.orders_block_info_product {
    width: 100%;
}
.order_product {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}
.product_det {
    text-transform: uppercase;
    color: #6E9C9F;
}
.product_det:hover {
    color:#579763;
    cursor: pointer;
}
.order_svg:hover, .btn_delete:hover {
    background: #fdfbfb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.person_info_block {
    font-family: 'Inter';
    font-size: 20px;
    padding: 30px;
    background: rgb(110, 156, 159, 50%);
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.person_info_block h2 {
    font-size: 20px;
    color: #ffffff;
}
.person_info {
    margin-bottom: 15px;
}

#details_order {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 785px;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
.order_more_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
._cost {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

.details_close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000000;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.details_close:hover {
    color: #6E9C9F;
}

.details_text {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}

.block_blurs {
    filter: blur(0.3rem);
    pointer-events: none;
}


.orders_details_img {
    height: 250px;
}
.orders_details_block {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    text-align: left;
}
.orders_details_block p {
    margin-bottom: 15px;
}
.text_mod_order {
    color: #6E9C9F;
    font-weight: 600;
    text-transform: uppercase;
}
._order_mod {
    color: #579763;
}
.price_mod {
    font-size: 20px;
    font-weight: 600;
}
/* popup */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(103, 103, 103, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
}
.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup_block {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content {
    background-color: #ffffff;
    max-width: 800px;
    padding: 80px 50px 20px;
    border-radius: 5px;
    text-align: center;
}
.popup_text {
    font-size: 22px;
}
#popup_delete, #popup_cancel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 40px;
    background: #6e9c9f;
    margin: 10px 0px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px 30px 20px;
}
#popup_delete:hover {
    background: #579763;
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}

#popup_cancel {
    background: #a8a2a0;
}
#popup_cancel:hover {
    background: #868a87;
    box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
#img_person {
    width: 170px;
    fill: #ffffff;
    margin-bottom: 20px;
}


