body {
  height: 100%;
  position: relative;
}

html {
  height: 100%;
}
 .order_main {
  flex: 1 1 auto;

}

.main_order {
  width: 552px;
  height: 61px;
  margin-top: 100px;
  margin-left: 292px;
}

.main_data,
.main_adress,
.main_comment {
  margin-left: 245px;
}
.main_oreder_text {
  width: 550px;
  height: 60.5px;
  color: #000;
  letter-spacing: 2%;
  font-size: 55px;
  line-height: 61px;
} 
.container_order {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.hiddenPage {
  visibility: hidden;
}

.main_data_bayer {
  text-align: left;
  width: 500px;
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: 35px;
}

.main_text_data_bayer,
.form_header_adress_text,
.main_comment_text,
.checked_header_text {
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 2%;
}

.form > div {
  width: 500px;
  text-align: left;
  margin-left: 35px;
}

.form_header_adress {
  text-align: left;
  width: 500px;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 25px;
}

.text-field {
  margin-bottom: 1rem;
  position: relative;
}
.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
  /* font-size: 17px;
  line-height: 50px; */
}

.text-field__input {
  display: block;
  width: 50%;
  height: 20px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #e5e5e5;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 
 /* .text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
} */

.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
} 
.text-field__input :focus,email
textarea:focus {
  color: #292321;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
} 

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
} 

.text-field_floating-3 .text-field__input,
textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 40px;
  line-height: 1.25;
  padding: 1rem 0.75rem;
  margin: 10px;
  
  
} 
 
 .text-field__input:focus,
textarea:focus {
  outline: 0;
  border-bottom: 1px solid #000;
  box-shadow: none;
  background-color: #c1e2f7da;
} 
/*
 .text-field_floating-3 .text-field__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1px 0px;
  pointer-events: none;
  transform-origin: 0 0;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;
} 

.text-field_floating-3 .text-field__input::-moz-placeholder {
  color: transparent;
}

.text-field_floating-3 .text-field__input::placeholder {
  color: transparent;
}
.text-field_floating-3 .text-field__input:focus,
.text-field_floating-3 .text-field__input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #000;
}

.text-field_floating-3 .text-field__input:focus ~ .text-field__label,
.text-field_floating-3
  .text-field__input:not(:placeholder-shown)
  ~ .text-field__label {
  transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
  color: #868686;
}  */



 .main_comment_div {
  margin-top: 35px;
  margin-left: 10px;
  width: 172px;
  height: 35px;
}

textarea {
  display: flex;
  margin-bottom: 5%;
  margin-left: 30px;
  width: 350px;
  height: 100%;
  background-color: #e5e5e5;
  border: none;
  border-bottom: 1px solid #000;
}

.main_comment_textarea_text {
  display: flex;
  margin-left: 35px;
  font-size: 17px;
  line-height: 23.8px;
  letter-spacing: 2%;
  color: #868686;
}

.row {
  display: flex;
}
.first_column,
.second_column {
  flex: 50%;
}
.checked_header {
  margin-top: 205px;
  width: 136px;
  height: 35px;
}
.checked_product {
  width: 59px;
  height: 28px;
  margin-top: 17px;
}

.checked_product_text {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2%;
  color: #000000;
  padding: 15px;
  text-align: left;
} 

 .checked_total {
  height: 57px;
  background-color: #f1eadc;
  text-align: left;
  margin-top: 15px;
}

.checked_total_text {
  text-align: left;
  padding: 15px;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 2%;
}
.checked_payment {
  margin-top: 160px;
}
.payment {
  width: 208px;
  height: 35px;
  border-radius: 5%;
}
.payment_text {
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 2%;
}
.payment_chose > div {
  margin-top: 20px;
  width: 180px;
  height: 24px;
} 
 span {
  font-size: 17px;
  line-height: 28.3px;
  letter-spacing: 2%;
} 
 .confirm_order_text{
  width: 246px;
  height: 68px;
  padding: 22px, 50px, 12px, 50px;
  background-color: #6e9c9f;
  border-radius: 5%;
  margin-top: 15px;
  float: left;
}
.confirm_order_text{
  border: none;
  width: 230px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #6e9c9f;
  background: #6e9c9f;
  color: #ffffff;
  border-radius: 5px;
}
.confirm_order_text:hover {
  background-color: #f8f9fa;
  color: #6e9c9f;
  border: 1px solid #579763;
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  cursor: pointer;
}
 .confirm_order_text:hover{
  background-color: #F8F9FA;
  color:#6E9C9F;
  border: 1px solid #579763;
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  cursor: pointer;
  
} 

.text-field__message {
    position: absolute;
  display: block;
  width: 80%;
  margin-top: .25rem;
  font-size: .875rem;
  text-align: right;
  color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 15.125rem 1.125rem;
  z-index: -1;
}
.mode__size {
  width: 46%;
}
._telError {
  margin-left: 45px;
  background-position: right 55px center;
}

.hidden{
  visibility: hidden;
  
}
.final_confirm{
  flex: 1 1 auto;
  min-height: 100%;
  margin-left: 250px;
  margin-bottom: 50px;
}
.confirm_window{
  margin: 0 auto;
}
.get_order{
  width: 500px;
  height: 61px;
  font-size: 55px;
  line-height: 61px;
  text-align: center;
}
.marker_square{
  width: 72px;
  height: 84px;
  padding-left: 30px;
  padding-top:60px;
}
.marker_arrow{
  position: absolute;
  top: 150px;
  left:300px
}
.confirm_text_header{
  position: absolute;
  top: 150px;
  left:380px;
  font-size: 25px;
  line-height: 35px;
  text-align: left;
}
.confirm_connection_text{
  position: absolute;
  top: 185px;
  left:380px;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
}
.confirm_button{
  margin-left: 300px;
  width: 272px;
  height: 68px;
  font-size: 17px;
  border: 1px solid #6e9c9f;
  background: #6e9c9f;
  color: #ffffff;
} 
 .confirm_button:hover{
  background-color: #F8F9FA;
  color:#6E9C9F;
  border: 1px solid #579763;
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  cursor: pointer;
  
} 
