.container_slim {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 1100px;
  margin: 0 auto;
  background-color: #ffffff;
}
.oneItem-header {
  color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.oneItem-title {
  font-size: 35px;
  line-height: 50%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #579763;
}
.oneItem-title__mrg {
  margin-top: 30px;
}
.oneItem-header__breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  list-style-type: none;
  padding-inline-start: 0;
  margin-left: 25px;
  text-transform: uppercase;
  color: #717171;
}
.oneItem-header__breadcrumbs-li {
  padding-right: 13px;
}
.oneItem-header__breadcrumbs-li::after {
  content: "—";
  margin-left: 10px;
}
.oneItem-header__breadcrumbs-li:last-child::after {
  content: none;
}
.oneItem-header__breadcrumbs-li:hover {
  color: #6e9c9f;
  cursor: pointer;
}
.oneItem-information {
  display: flex;
  margin-bottom: 20px;
  padding: 0 50px;
}
.oneItem-information__img {
  width: 535px;
  max-height: 550px;
  margin-right: 20px;
}
#oneItem {
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
.oneItem-informationDiv {
  padding-left: 74px;
  padding-top: 117px;
  margin-left: auto;
}
.oneItem-information__price {
  font-family: "Inter";
  font-size: 38px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: black;
  font-weight: 600;
  text-align: left;
}
.oneItem-information__feature {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.02em;
  list-style-type: square;
  list-style-type: none;
  text-align: start;
  margin-bottom: 20px;
}
#imgOneItem {
  max-height: 350px;
}
#allPhoto {
  display: flex;
  height: 150px;
  justify-content: space-around;
  margin-top: 15px;
}
.oneItem__allPhoto {
  width: 150px;
  object-fit: contain;
  cursor: pointer;
}
.oneItem__allPhoto:hover {
  transform: scale(1.2);
  transition: transform 0.25s;
}
#priceSpan {
  margin-bottom: 25px;
}
.oneItem-price__sale {
  text-decoration: line-through;
  font-size: 28px;
}
.oneItem__sale {
  font-family: "Inter";
  font-size: 38px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: red;
  text-decoration: underline;
}

.buy {
  display: flex;
}
.buy__amount {
  text-align: center;
  margin: 0;
  width: 55px;
  height: 55px;
  border: 1px solid #6e9c9f;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.buy__amount:hover {
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
}
.buy__amount:focus {
  outline: 0;
  outline-offset: 0;
}
.button {
  width: 230px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 40px;
  border: 1px solid #6e9c9f;
  background: #6e9c9f;
  margin-left: 20px;
  color: #ffffff;
  border-radius: 5px;
}
.notButton {
  background-color: #899394;
  width: 230px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 40px;
  margin-left: 20px;
  color: #ffffff;
  border-radius: 5px;
}
.button:hover {
  background-color: #f8f9fa;
  color: #6e9c9f;
  border: 1px solid #579763;
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  cursor: pointer;
}

.response {
  padding: 20px;
  margin-top: 50px;
}
.response-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
#responsiveName {
  font-size: 28px;
  letter-spacing: 0.02em;
  margin: 10px 0 0 0;
}
#responsiveRating {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 10px 0;
  font-size: 18px;
  color: #579763;
}
#responsiveContent {
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 16px;
}
#responsiveDate {
  text-align: end;
}
.oneResponsive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px max-content;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #6e9c9f;
  text-align: start;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.response-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#rating {
  font-size: 25px;
  letter-spacing: 0.02em;
  margin-top: 30px;
  text-align: right;
  text-transform: none;
  color: #579763;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(109, 148, 247, 0.664);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 20px 35px;
}

.content {
  width: 100%;
  max-width: 500px;
  padding: 25px;
  /* background: #929292; */
  position: relative;
}
.close-button {
  font-size: xx-large;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  outline: none;
}
.moodalBtn_save {
  color: #ffffff;
  font-weight: 500;
  font-size: 21px;
  line-height: 20px;
  padding: 18px;
  width: 100%;
  background: #6e9c9f;
  box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
#reviewForm {
  min-height: 100px;
}
.modal-hidden {
  display: none;
}
.notResponse {
  font-size: 25px;
  letter-spacing: 0.02em;
  margin: auto 0;
  text-transform: none;
  color: #579763;
}
